@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FreestyleScript";
    src: url('/src/assests/fonts/FREESCPT.ttf') format('ttf');
}

body{
    font-size:1vw;
}
